# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Environmnet
env/
env_new/
.venv/
venv/
ENV/
.env

# Database
db.sqlite3
*.db

# Media & Statics
media/
staticfiles/
avatars/

# IDEs
.vscode/
.idea/
.DS_Store
