Hola, {{ user.get_short_name|default:"Usuario" }}:

Recibimos una solicitud para restablecer la contraseña de tu cuenta en la Cooperativa de Transporte.

Por favor, ingresa al siguiente enlace para crear tu nueva contraseña:

{{ protocol }}://{{ domain }}{% url 'taxis:password_reset_confirm' uidb64=uid token=token %}


IMPORTANTE:
Este enlace es válido únicamente por 24 horas.

Si no solicitaste este cambio, ignora este mensaje y tu clave seguirá siendo la misma.

Atentamente,
El Equipo de la Cooperativa
